button {
    margin: 10px;
}
tr {
    border: 2px rgb(49, 49, 49) solid;
    border-radius: 5px;
}
td {
    border: 2px rgb(49, 49, 49) solid;
    border-radius: 5px;
}
.square {
    border: 2px rgb(49, 49, 49) solid;
    border-radius: 5px;
}

.spreadsheet {
    background-color:lightblue;
    border: 2px rgb(49, 49, 49) solid;
    border-radius: 5px;
}
