<h3>Planilhas</h3>
<button type="button" class="btn btn-primary" (click)="newSpreadsheet()">
    Nova planilha
</button>
<a class="btn btn-primary" routerLink="../edit-spreadsheet" (click)="shareData(selectedSpreadsheet)">
    Editar informações da planilha
</a>
<hr>
<!-- <router-outlet></router-outlet> -->

<hr>
<P>Selecione a planilha:</P>
<div>
    <button type="button" class="btn btn-primary" *ngFor="let spreadsheet of spreadsheets"
        (click)="selectSpreadsheet(spreadsheet.spreadsheetId)">
        {{ spreadsheet.name }} - {{ spreadsheet.date }}
    </button>
</div>

<hr>
<a class="btn btn-primary" (click)="AddLevel()">Adicionar Nível</a>

<app-level *ngFor="let level of levels" [level]="level">
    
</app-level>
        
<hr>
<div>
    <button type="button" class="btn btn-danger" (click)="deleteSpreadsheet()">
        Excluir planilha
    </button>
</div>