<button type="button" class="btn btn-primary" (click)="newSpreadsheet()">
    Nova planilha
</button>
<a class="btn btn-primary" routerLink="../edit-spreadsheet" (click)="shareData(selectedSpreadsheet)">
    Editar informações da planilha
</a>
<hr>
<!-- <router-outlet></router-outlet> -->

<hr>
<P>Selecione a planilha:</P>
<div>
    <button type="button" class="btn btn-primary" *ngFor="let spreadsheet of spreadsheets"
        (click)="selectSpreadsheet(spreadsheet.spreadsheetId)">
        {{ spreadsheet.name }}
    </button>
</div>

<hr>
<a class="btn btn-primary" (click)="AddLevel()">Adicionar Nível</a>

<app-level *ngFor="let level of levels" [level]="level" (remove)='removeLevel($event)'>
    
</app-level>
<table>
    <tbody>
        <tr>
            <td colspan="7"></td>
            <td class="text-end" colspan="2">
                <strong>
                   <h2>Total: {{ totalSpreadsheetValue() | currency: 'BRL':'symbol':'1.2-2':'pt' }} </h2>
                </strong>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
    </tbody>
</table>
        
<hr>
<div>
    <button type="button" class="btn btn-danger" (click)="deleteSpreadsheet()">
        Excluir planilha
    </button>
</div>