<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <!-- Imagens do login -->
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <div class="row">
                        <img src="https://i.imgur.com/CXQmsmF.png" class="logo" />
                    </div>
                    <div class="row px-3 justify-content-center mt-4 mb-5 border-line">
                        <img src="https://i.imgur.com/uNGdWHi.png" class="image" />
                    </div>
                </div>
            </div>
            <!-- fim das imagens de login -->
            <!-- Início do login -->
            <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5">
                    <!-- <div class="row mb-4 px-3">
                      <h6 class="mb-0 mr-4 mt-2">Fazer login</h6>

                      <div class="facebook text-center mr-3">
                        <div class="fa fa-facebook"></div>
                      </div>
                      <div class="twitter text-center mr-3">
                        <div class="fa fa-twitter"></div>
                      </div>
                      <div class="linkedin text-center mr-3">
                        <div class="fa fa-linkedin"></div>
                      </div>
                    </div>
                    <div class="row mb-4 px-3">
                      <div class="line"></div> <small class="or text-center">Ou</small>
                      <div class="line"></div>
                    </div> -->

                    <div class="row px-3">
                        <!-- CAMPO DE E-MAIL-->
                        <label for="inputEmail" class="mb-1">
                            <h6 class="mb-0 text-sm sr-only">E-mail</h6>
                        </label>
                        <input type="email" id="inputEmail" name="email" class="form-control mb-2" placeholder="E-mail"
                            [(ngModel)]="user.email" #email="ngModel" email required />
                        <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                            <div *ngIf="email.hasError('required')">E-mail é de preenchimento obrigatório.</div>
                            <div *ngIf="email.hasError('email')">E-mail não está no formato correto.</div>
                        </div>
                        <!-- FIM DO CAMPO DE E-MAIL-->
                    </div>

                    <div class="row px-3">
                        <!-- CAMPO DE SENHA -->
                        <label for="inputPassword" class="sr-only mb-1">
                            <h6 class="mb-0 text-sm">Password</h6>
                        </label>
                        <input type="password" id="inputPassword" name="password" placeholder="Senha"
                            class="form-control mb-2" [(ngModel)]="user.password" #password="ngModel" required />
                        <div class="alert alert-danger"
                            *ngIf="password.invalid && (password.dirty || password.touched)">
                            <div *ngIf="password.hasError('required')">A senha deve ser informada.</div>
                        </div>
                        <!-- FIM DO CAMPO DE SENHA -->
                    </div>

                    <!-- CHECK BOX DE LEMBRAR SENHA E LINK PARA ESQUECI MINHA SENHA -->
                    <div class="row px-3 mb-4">
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input id="chk1" type="checkbox" name="chk" class="custom-control-input" />
                            <label for="chk1" class="custom-control-label text-sm">Lembrar-me</label>
                        </div>
                        <a href="#" class="ml-auto mb-0 text-sm">Esqueci minha senha</a>
                    </div>
                    <!-- FIM DO CHECK BOX DE LEMBRAR SENHA E LINK PARA ESQUECI MINHA SENHA -->

                    <!-- BOTÃO SUBMIT -->
                    

                    <div class="row mb-3 px-3">
                        <button type="submit" class="btn btn-blue text-center mb-3" (click)="toEnter()"
                            *ngIf="!spinnerActive">
                            Entrar
                        </button>
                        <button class="btn btn-blue text-center mb-3" type="button" disabled *ngIf="spinnerActive">
                            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                            Carregando...
                        </button>
                    </div>
                    <!-- FIM DO BOTÃO SUBMIT -->
                    <!-- NÃO POSSUI UMA CONTA -->
                    <div class="row mb-4 px-3"> <small class="font-weight-bold">Não possui uma conta? <a
                                class="text-danger">Registrar</a> </small> </div>
                    <!-- FIM DO NÃO POSSUI UMA CONTA -->
                    <div class="alert alert-danger" *ngIf="message">
                        {{ message }}
                    </div>
                </div>
            </div>
            <!-- fim do login -->
        </div>
        <div class="bg-blue py-4">
            <div class="row px-3">
                <small class="ml-4 ml-sm-5 mb-2">Copyright &copy; 2021. Todos os direitos reservados.</small>
                <div class="social-contact ml-4 ml-sm-auto"> <span class="fa fa-facebook mr-4 text-sm"></span> <span
                        class="fa fa-google mr-4 text-sm"></span> <span class="fa fa-linkedin mr-4 text-sm"></span>
                    <span class="fa fa-twitter mr-4 text-sm"></span>
                </div>
            </div>
        </div>
    </div>
</div>