<div class="text-center form-signin login">
            <img class="mb-4" src="../../../../assets/logohelmet.png" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Por favor faça o login</h1>

            <div class="form-floating">
                <input type="email" name="email" class="form-control" id="floatingInput"
                    placeholder="seu-email@email.com" [(ngModel)]="user.email" #email="ngModel" email required>
                <label for="floatingInput">Endereço de e-mail</label>
                <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                    <div *ngIf="email.hasError('required')">E-mail é de preenchimento obrigatório.</div>
                    <div *ngIf="email.hasError('email')">E-mail não está no formato correto.</div>
                </div>
            </div>

            <div class="form-floating">
                <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Senha"
                    [(ngModel)]="user.password" #password="ngModel" required>
                <label for="floatingPassword">Senha</label>
                <div class="alert alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
                    <div *ngIf="password.hasError('required')">
                        A senha deve ser informada.
                    </div>
                </div>

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>                

                <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="toEnter()"
                    [disabled]="spinnerActive">
                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"
                        *ngIf="spinnerActive"></span>
                    Entrar
                </button>
                <div>
                    <small class="font-weight-bold">Não possui uma conta? <a class="text-danger" [routerLink]="['/create-user']">Registrar</a> </small>
                </div>
                <div class="alert alert-danger" *ngIf="message">
                    {{ message }}
                </div>

                <p class="mt-5 mb-3 text-muted">©2021</p>
        
    <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a
            href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</div>