/* You can add global styles to this file, and also import other style files */
body {
    background-color: lightblue;
    color: navy;

    font-family: 'Courier New', Courier, monospace;
}

img {
    border-radius: 10px;
}

.card {
    background-color: lavender;
    color: navy;

    border-radius: 10px;

    padding: 10px;
    margin: 5px;
}