<h1>Detalhes do contrato</h1>
<hr>
<h2>Tomador: {{ ownerUser.name }} </h2>
<h2>Contratado: {{ contractedUser.name }} </h2>
<h2>Objeto: {{ contract.object }}</h2>
<div>

        <!-- <a class="btn btn-primary" [contract]="contract" [routerLink]="[ 'contract-details/contract.contractId/clauses' ]"
            routerLinkctive="active">Cláusulas</a>

        <button class="btn btn-prymary">Planilhas</button>
        <button class="btn btn-prymary">Medições</button>
        <button class="btn btn-prymary">Aditivos</button> -->

        <ul class="nav nav-tabs">
            <li class="nav-item active">
                <a class="nav-link" routerLink="clauses" (click)="shareData(contract)" >Cláusulas </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="spreadsheets" (click)="shareData(contract)">Planilhas </a>
            </li>
        </ul>
    <router-outlet></router-outlet>
</div>