
    <td>{{ item.source }}</td>
    <td>{{ item.code }}</td>
    <td>{{ item.description }}</td>
    <td>{{ item.unit }}</td>
    <td>{{ item.amount }}</td>
    <td>{{ item.manpower }}</td>
    <td>{{ item.material }}</td>
    <td> {{ totalItemValue() | currency:'BRL'}} </td>
    <td>
        <a class="btn btn-primary" data-bs-toggle="modal"
            [attr.data-bs-target]="'#editItemModal'+item.spreadsheetItemId">
            Editar
        </a>
        <a class="btn btn-danger" (click)="spreadsheetItemDelete(item)">
            Deletar
        </a>
    </td>




<!-- Edit Item Modal -->
<div class="modal fade" [id]="'editItemModal'+item.spreadsheetItemId" tabindex="-1" aria-labelledby="editItemModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addItemModalLabel">Editar item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-floating">
                    <input type="text" name="itemSource" class="form-control" id="floatingItemSource"
                        placeholder="Fonte" [(ngModel)]="item.source" #itemSource="ngModel">
                    <label for="floatingItemSource">Fonte</label>
                </div>
                <div class="form-floating">
                    <input type="text" name="itemCode" class="form-control" id="floatingItemCode" placeholder="Código"
                        [(ngModel)]="item.code" #itemCode="ngModel">
                    <label for="floatingItemCode">Código</label>
                </div>
                <div class="form-floating">
                    <input type="text" name="itemDescription" class="form-control" id="floatingItemDescription"
                        placeholder="Descrição" [(ngModel)]="item.description" #itemDescription="ngModel">
                    <label for="floatingItemDescription">Descrição</label>
                </div>
                <div class="form-floating">
                    <input type="number" name="itemAmount" class="form-control" id="floatingItemAmount"
                        placeholder="Quantidade" [(ngModel)]="item.amount" #itemAmount="ngModel">
                    <label for="floatingItemAmount">Quantidade</label>
                </div>
                <div class="form-floating">
                    <input type="text" name="itemUnit" class="form-control" id="floatingItemUnit" placeholder="Unidade"
                        [(ngModel)]="item.unit" #itemUnit="ngModel">
                    <label for="floatingItemUnit">Unidade</label>
                </div>
                <div class="form-floating">
                    <input type="text" name="itemManpower" class="form-control" id="floatingItemManpower"
                        placeholder="Mão de obra" [(ngModel)]="item.manpower" #itemManpower="ngModel">
                    <label for="floatingItemManpower">Mão de Obra</label>
                </div>
                <div class="form-floating">
                    <input type="text" name="itemMaterial" class="form-control" id="floatingItemMaterial"
                        placeholder="Material" [(ngModel)]="item.material" #itemMaterial="ngModel">
                    <label for="floatingItemMaterial">Material</label>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button class="w-100 btn btn-lg btn-primary" type="submit" data-bs-dismiss="modal"
                    (click)="spreadsheetItemEdit()">
                    Enviar
                </button>
            </div>
        </div>
    </div>
</div>