<main role="main">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3" style="letter-spacing: .2rem">Bem-Vindo!</h1>
            <p style="letter-spacing: .2rem;">
                A Constru+ é um App Web onde você pode criar contratos e planilhas da construção civil.
            </p>
            <p style="letter-spacing: .2rem;">
                <a class="btn btn-primary btn-lg" role="button">Ver Contratos >></a>
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row" style="margin-top: 50px;">
            <div class="col-md-6">

                <div class="card" style="display: auto;">
                    <img src="../../../assets/contracts/pexels-photo-955393.jpeg" alt="Contratos">
                    <div class="card-body">
                        <h4 class="card-title" style="text-align: center;">Crie contratos</h4>
                        <p class="card-text">Crie seus textos, cláusulas e toda a documentação para geração e arquivos
                            de contrato.</p>
                        <a class="btn btn-primary" [routerLink]="['/contracts']">Ver detalhes >></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img src="../../../assets/pexels-photo-590022.webp" alt="Planilhas orçamentárias">
                    <div class="card-body">
                        <h4 class="card-title" style="text-align: center;">Planilhas Orçamentárias</h4>
                        <p class="card-text">Preencha planilha, crie níveis de serviços, tenha a soma de cada item de
                            sua obra.</p>

                        <a class="home-card-button" [routerLink]="['/contracts']"> Vamos lá! >></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>